.header-container {
  position: relative;
  margin: 0;
  width: 100%; }

.header-bar {
  width: 100%;
  text-align: center; }

h1.header-title {
  margin: 0.5rem auto; }

.menu-icon {
  font-size: 2em;
  padding-left: 5px;
  position: absolute;
  top: 3px;
  left: 10px;
  cursor: pointer; }

.menu-icon.left {
  float: left; }

.menu-container {
  position: absolute;
  background-color: #FDFDFD;
  width: 100%;
  transition: 0.5s;
  left: -100%; }

.menu-container.open {
  transition: 0.5s;
  left: 0;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75); }

.menu-container ul {
  font-size: 1.5em;
  list-style-type: none; }
  .menu-container ul li {
    margin-bottom: 10px; }
  .menu-container ul a, .menu-container ul a:visited {
    color: #333;
    text-decoration: none; }
  .menu-container ul a.active {
    font-weight: bold; }
